// Brands Slider
.brands {
  margin-bottom: 50px;

  &-title {
    text-transform: uppercase;
    padding: 16px;
    background: linear-gradient(90deg, rgb(248, 248, 248), rgb(255, 255, 255));
    color: $gray-text;
  }
}

.brands-slider {
  background-color: $gray-bg;
  padding: 20px 0 0 5px !important;
  height: 126px !important;

   &__slide {
    width: 240px !important;
  }

  &__pagination {
    bottom: 0 !important;

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background-color: $gray-bullet;

      &-active {
        background-color: $gray-bullet--active;
      }
    }
  }
}

.brands-list {
  @include for-tablet {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, 240px);
    grid-template-rows: repeat(auto-fit, 72px);
    gap: 16px 24px;
    padding-top: 16px;
    overflow: visible;
    max-height: none;

    &--collapsed {
      overflow: hidden;
      max-height: 160px;
    }
  }
}

.brands-all {
  display: none;
  margin-top: 24px;
  cursor: pointer;

  &--active {
    &:before {
      transform: rotate(180deg);
    }
  }

  &:hover {
    text-decoration: underline;
  }

  @include for-tablet {
    display: block;
  }
}

.brand-item {
  border: 1px solid $gray-line;
  border-radius: 6px;
  background-color: white;
  padding: 16px;
  width: 100%;
  height: 72px;
  max-width: 240px;
  min-width: 240px;
  max-height: 72px;
  display: flex;
  align-items: center;

  &__logo {
    max-width: 120px;
    margin-right: auto;
  }
}

.brands-slider--tech {
  .brands-list {
    @include for-tablet {
      display: grid !important;
      grid-template-columns: repeat(auto-fit, 240px);
      grid-template-rows: repeat(auto-fit, 160px);
      gap: 16px 24px;
      padding-top: 16px;

      &--collapsed {
        overflow: hidden;
        max-height: 160px;
      }
    }
  }

  .brand-item {
    height: 160px;
    max-height: 160px;
    align-items: flex-start;

    &__title {
      margin-right: auto;
    }

    &__link {
      align-self: flex-end;
    }
  }
}

.brands-slider.brands-slider--tech {
  height: 216px !important;
}