// Меню navigation
.navigation-menu {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;

  &__item {
    padding: 16px 24px 16px 0;
    list-style: none;
  }

  .navigation-menu__link {
    color: $black-text;
    padding-left: 16px;
    font-size: 16px;
    font-weight: 500;
    transition: filter .3s;

    &--active {
      color: $gray-text;
      position: relative;
      cursor: default;

      &:before {
        content: '';
        position: absolute;
        width: 2px;
        height: 32px;
        background-color: $green-line;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
}