@mixin for-phone {
  @media (min-width: 320px) { @content; }
}

@mixin for-tablet {
  @media (min-width: 768px) { @content; }
}

@mixin for-desktop {
  @media (min-width: 1120px) { @content; }
}

@mixin for-desktop--big {
  @media (min-width: 1440px) { @content; }
}

@mixin bg--standart {
  background-position: center;
  background-repeat: no-repeat;
}

@mixin bg--contain {
  @include bg--standart;
  background-size: contain;
}

@mixin bg--cover {
  @include bg--standart;
  background-size: cover;
}

$black-text: #1B1C21;
$gray-text: #7E7E82;
$gray-bg: #F8F8F8;
$gray-line: #EAEAEA;
$green-line: #41F6D7;
$gray-bullet: #DDDDDD;
$gray-bullet--active: #B5B6BC;