@import './normalize.scss';
@import './fonts.scss';
@import './mixins.scss';
@import '../../node_modules/swiper/swiper-bundle.min.css';

// import components
@import './components/header.scss';
@import './components/aside.scss';
@import './components/navigation.scss';
@import './components/article.scss';
@import './components/brands-slider.scss';
@import './components/table-slider.scss';
@import './components/form.scss';
@import './components/footer.scss';


body {
  font-family: TTLake, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: $black-text;
  overflow-x: hidden;
  background-color: $gray-bg;
  position: relative;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 1068px;
  padding: 0;


  @include for-desktop {
    margin: 0 auto;
  }

  @include for-tablet {
    padding: 0 5px;
  }

  &--padd {
    padding: 0 16px;
  }

  &--wrapper {
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: none;

    @include for-desktop--big {
      max-width: 1395px;
    }
  }

  &--inner-wrapper {
    margin: 0 auto;
    width: 100%;
  }
}

.top {
  margin-bottom: 50px;
}

.main {
  padding: 24px 0;
}

.logo {
  width: 96px;
  height: 50px;
}

.tabs {
  font-size: 16px;
  line-height: 24px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  color: $gray-text;
  overflow-x: scroll;
  padding-bottom: 24px;

  @include for-tablet {
    margin-bottom: 8px;
  }

  @include for-desktop {
    flex-wrap: wrap;
    overflow-x: hidden;
    padding-bottom: 8px;
  }

  &__item {
    list-style: none;
    white-space: nowrap;
    padding: 8px 16px;

    &--active {
      border: 2px solid $green-line;
      border-radius: 6px;
      background-color: white;

      .tabs__link {
        cursor: default;
      }
    }
  }

  &__link {
    color: $gray-text;
  }
}

.title-block {
  display: flex;
  align-items: center;

  .title {
    font-size: 28px;
    font-weight: bold;
    border-left: 4px solid $green-line;
    padding-left: 12px;
    margin-right: auto;
  }

  .title-links {
    display: none;

    @include for-desktop--big {
      display: flex;
    }

    .header__link {
      margin-right: 16px;
      display: flex;
      align-items: center;
      white-space: nowrap;
      margin-left: auto;
      color: $black-text;

      &:nth-child(2) {
        margin-right: 0;
      }

      &-img {
        margin-left: 8px;
      }
    }
  }
}

.header__link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-left: auto;
  color: $black-text;

  &-btn {
    @include bg--contain;
    margin-left: 8px;
    width: 40px;
    height: 40px;
    cursor: pointer;

    &--menu-close {
      margin-left: 0;
      margin-right: 8px;
      background-image: url('../img/icons/burger--close.svg')
    }

    &--menu {
      margin-left: 0;
      margin-right: 8px;
      background-image: url('../img/icons/burger.svg')
    }

    &--search {
      background-image: url('../img/icons/search.svg')
    }

    &--phone {
      background-image: url('../img/icons/call.svg')
    }

    &--profile {
      background-image: url('../img/icons/profile.svg')
    }

    &--chat {
      background-image: url('../img/icons/chat.svg')
    }

    &--repair {
      background-image: url('../img/icons/repair.svg')
    }

    &--checkstatus {
      background-image: url('../img/icons/checkstatus.svg')
    }
  }
}

.prices {

  &-table {
    display: flex;
    flex-direction: column;
    padding-top: 14px;
    margin-bottom: 32px;

    &__title {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 16px;
      align-items: flex-start;

      @include for-tablet {
        flex-direction: row;
        margin-bottom: 0;
        align-items: center;
      }

      &--header {
        color: $gray-text;
      }

      & > span.prices-table__title--header {
        display: block;

        @include for-tablet {
          display: none;
        }
      }
    }

    &__btn {
      background-color: #FF3E79;
      padding: 4px 12px;
      text-transform: uppercase;
      color: white;
      font-weight: bold;
      border-radius: 16px;
      width: 119px;
      text-align: left;
      line-height: 2;
      font-size: 12px;
      position: absolute;
      right: 16px;
      bottom: 16px;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        top: 4px;
        right: 8px;
        width: 24px;
        height: 24px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../img/icons/goside.svg');
      }

      @include for-tablet {
        position: relative;
        right: auto;
        bottom: auto;
      }
    }

    &__row {
      display: flex;
      flex-direction: column;
      border-radius: 6px;
      background-color: white;
      padding: 16px;
      position: relative;

      @include for-tablet {
        flex-direction: row;
        padding: 0;
      }
    }

    &__col {
      width: 100%;

      @include for-tablet {
        width: 16%;
      }

      &--big {
        width: 100%;

        @include for-tablet {
          width: 52%;
        }
      }
    }

    &__content {
      border-radius: 6px;
      padding: 16px 0;
      margin: 0 0 0 -8px;

      @include for-tablet {
        background-color: white;
        padding: 16px;
        margin: 0;
      }

      .swiper-wrapper {
        height: 220px;

        @include for-tablet {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: auto;
        }
      }

      .prices-table__row {
        width: 260px;
        height: 200px;

        @include for-tablet {
          width: 100%;
          height: auto;
          padding-bottom: 16px;
          margin-bottom: 16px;
          border-bottom: 1px solid $gray-line;
        }
      }
    }

    &__header {
      padding: 16px;
      display: none;

      @include for-tablet {
        display: flex;
      }
    }
  }

  &-description {
    max-width: 420px;
    color: $black-text;
    margin-bottom: 16px;
  }

  &-commers {
    font-weight: 500;
    max-width: 420px;
    color: $black-text;
    margin-bottom: 50px;
    font-size: 16px;
    display: flex;
    align-items: center;

    &__img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 24px;
      height: 24px;
      background-image: url('../img/icons/more.svg');
    }
  }
}

.no-scroll {
  overflow: hidden;
}

.overlay {
  display: none;
  position: fixed;
  z-index: 90;
  background-color: #ffffff90;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.d-block {
  display: block;
}