html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

@font-face {
  font-family: "TTLake";
  src: url("../assets/fonts/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TTLake";
  src: url("../assets/fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TTLake";
  src: url("../assets/fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: TTLake, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  overflow-x: hidden;
  background-color: #F8F8F8;
  position: relative;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 1068px;
  padding: 0;
}
@media (min-width: 768px) {
  .container {
    padding: 0 5px;
  }
}
.container--padd {
  padding: 0 16px;
}

.header {
  background-color: white;
}
@media (min-width: 1120px) {
  .header {
    display: none;
  }
}
.header-line {
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
  border-radius: 1px;
  margin-right: 20px;
  margin-left: 20px;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 18px 16px;
}
.header__inner-left {
  display: flex;
  align-items: center;
}
.header__inner-left .header-line {
  display: none;
}
.header__inner-left .logo {
  margin-left: 16px;
}
@media (min-width: 768px) {
  .header__inner-left .header-line {
    display: block;
  }
  .header__inner-left .logo {
    margin-left: 0;
  }
}
.header__inner-middle {
  display: none;
}
@media (min-width: 768px) {
  .header__inner-middle {
    display: flex;
    margin-left: auto;
  }
}
.header__inner-right {
  display: flex;
  align-items: center;
}
.header__link {
  margin-right: 16px;
  cursor: pointer;
  transition: filter 0.4s;
}
.header__link:hover {
  filter: drop-shadow(0px 0px 3px rgba(46, 22, 36, 0.4392156863));
}
.header__link:last-of-type {
  margin-right: 0;
}
.header__link-img {
  width: 40px;
  height: 40px;
}

.top {
  margin-bottom: 50px;
}

.main {
  padding: 24px 0;
}

.logo {
  width: 96px;
  height: 50px;
}

.tabs {
  font-size: 16px;
  line-height: 24px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  color: #7E7E82;
  overflow-x: scroll;
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .tabs {
    margin-bottom: 8px;
  }
}
@media (min-width: 1120px) {
  .tabs {
    flex-wrap: wrap;
    overflow-x: hidden;
    padding-bottom: 8px;
  }
}
.tabs__item {
  list-style: none;
  white-space: nowrap;
  padding: 8px 16px;
}
.tabs__item--active {
  border: 2px solid #41F6D7;
  border-radius: 6px;
  background-color: white;
}
.tabs__item--active .tabs__link {
  cursor: default;
}
.tabs__link {
  color: #7E7E82;
}

@media (min-width: 768px) {
  .article {
    display: flex;
  }
}
.article__text {
  font-size: 14px;
  line-height: 18px;
  padding: 0 16px;
  margin: 16px auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .article__text {
    line-height: 20px;
  }
}
@media (min-width: 1120px) {
  .article__text {
    line-height: 20px;
    margin-top: 0;
  }
}
.article__link {
  padding-left: 48px;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.article__link:before {
  position: absolute;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: 8px 11px;
  background-image: url("../assets/images/icons/arrows.svg");
  width: 24px;
  height: 24px;
  left: 12px;
  top: -2px;
}
.article__image {
  margin-top: 16px;
  width: 100%;
}
@media (min-width: 768px) {
  .article__image {
    max-width: 360px;
  }
}
@media (min-width: 1120px) {
  .article__image {
    max-width: 530px;
    margin-top: 0;
  }
}

.title-block {
  display: flex;
  align-items: center;
}
.title-block .title {
  font-size: 28px;
  font-weight: bold;
  border-left: 4px solid #41F6D7;
  padding-left: 12px;
  margin-right: auto;
}
.title-block .title-links {
  display: none;
}
@media (min-width: 1120px) {
  .title-block .title-links {
    display: flex;
  }
}
.title-block .title-links .header__link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-left: auto;
  color: #1B1C21;
}
.title-block .title-links .header__link-img {
  margin-left: 8px;
}

.aside {
  position: fixed;
  top: 0;
  left: -100%;
  opacity: 1;
  transition-duration: 0.3s;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 320px;
  min-width: 320px;
  height: 100vh;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
  background-color: white;
  overflow-y: scroll;
}
.aside-top {
  padding: 18px 24px;
  margin-bottom: 30px;
}
.aside-top .header__link:first-child {
  margin-right: 16px;
}
.aside-top .logo {
  margin-right: auto;
}
.aside-bottom {
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
}
.aside-bottom__row {
  margin-bottom: 16px;
}
.aside-bottom__row:nth-child(2) {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}
.aside-bottom__row:nth-child(3) {
  margin-bottom: 0;
}
.aside-bottom__mail {
  font-weight: 500;
  color: #1B1C21;
  margin-bottom: 12px;
}
.aside-bottom__phone {
  font-weight: 700;
  color: #1B1C21;
  font-size: 24px;
  line-height: 1;
}
.aside-bottom__lang {
  color: #1B1C21;
  cursor: pointer;
  font-weight: 500;
  margin-right: 7px;
}
.aside-bottom__lang--active {
  color: #7E7E82;
}
.aside .logo {
  margin-left: 0;
}

.aside--visible {
  opacity: 1;
  left: 0;
  transition-duration: 0.3s;
}

.navigation-menu {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}
.navigation-menu__item {
  padding: 16px 24px 16px 0;
  list-style: none;
}
.navigation-menu .navigation-menu__link {
  color: #1B1C21;
  padding-left: 16px;
  font-size: 16px;
  font-weight: 500;
  transition: filter 0.3s;
}
.navigation-menu .navigation-menu__link--active {
  color: #7E7E82;
  position: relative;
  cursor: default;
}
.navigation-menu .navigation-menu__link--active:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 32px;
  background-color: #41F6D7;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.brands {
  margin-bottom: 50px;
}
.brands-title {
  text-transform: uppercase;
  padding: 16px;
  background: linear-gradient(90deg, rgb(248, 248, 248), rgb(255, 255, 255));
  color: #7E7E82;
}

.brands-slider {
  background-color: #F8F8F8;
  padding: 20px 0 0 5px !important;
  height: 126px !important;
}
.brands-slider__slide {
  width: 240px !important;
}
.brands-slider__pagination {
  bottom: 0 !important;
}
.brands-slider__pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #DDDDDD;
}
.brands-slider__pagination .swiper-pagination-bullet-active {
  background-color: #B5B6BC;
}

@media (min-width: 768px) {
  .brands-list {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, 240px);
    grid-template-rows: repeat(auto-fit, 72px);
    gap: 16px 24px;
    padding-top: 16px;
    overflow: visible;
    max-height: none;
  }
  .brands-list--collapsed {
    overflow: hidden;
    max-height: 160px;
  }
}

.brands-all {
  display: none;
  margin-top: 24px;
  cursor: pointer;
}
.brands-all--active:before {
  transform: rotate(180deg);
}
.brands-all:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .brands-all {
    display: block;
  }
}

.brand-item {
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  background-color: white;
  padding: 16px;
  width: 100%;
  height: 72px;
  max-width: 240px;
  min-width: 240px;
  max-height: 72px;
  display: flex;
  align-items: center;
}
.brand-item__logo {
  max-width: 120px;
  margin-right: auto;
}

@media (min-width: 768px) {
  .brands-slider--tech .brands-list {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, 240px);
    grid-template-rows: repeat(auto-fit, 160px);
    gap: 16px 24px;
    padding-top: 16px;
  }
  .brands-slider--tech .brands-list--collapsed {
    overflow: hidden;
    max-height: 160px;
  }
}
.brands-slider--tech .brand-item {
  height: 160px;
  max-height: 160px;
  align-items: flex-start;
}
.brands-slider--tech .brand-item__title {
  margin-right: auto;
}
.brands-slider--tech .brand-item__link {
  align-self: flex-end;
}

.brands-slider.brands-slider--tech {
  height: 216px !important;
}

.prices-table {
  display: flex;
  flex-direction: column;
  padding-top: 14px;
  margin-bottom: 32px;
}
.prices-table__title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 16px;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .prices-table__title {
    flex-direction: row;
    margin-bottom: 0;
    align-items: center;
  }
}
.prices-table__title--header {
  color: #7E7E82;
}
.prices-table__title > span.prices-table__title--header {
  display: block;
}
@media (min-width: 768px) {
  .prices-table__title > span.prices-table__title--header {
    display: none;
  }
}
.prices-table__btn {
  background-color: #FF3E79;
  padding: 4px 12px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border-radius: 16px;
  width: 119px;
  text-align: left;
  line-height: 2;
  font-size: 12px;
  position: absolute;
  right: 16px;
  bottom: 16px;
  cursor: pointer;
}
.prices-table__btn::before {
  content: "";
  position: absolute;
  top: 4px;
  right: 8px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/images/icons/goside.svg");
}
@media (min-width: 768px) {
  .prices-table__btn {
    position: relative;
    right: auto;
    bottom: auto;
  }
}
.prices-table__row {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: white;
  padding: 16px;
  position: relative;
}
@media (min-width: 768px) {
  .prices-table__row {
    flex-direction: row;
    padding: 0;
  }
}
.prices-table__col {
  width: 100%;
}
@media (min-width: 768px) {
  .prices-table__col {
    width: 16%;
  }
}
.prices-table__col--big {
  width: 100%;
}
@media (min-width: 768px) {
  .prices-table__col--big {
    width: 52%;
  }
}
.prices-table__content {
  padding: 16px;
  border-radius: 6px;
  margin: 0;
}
@media (min-width: 768px) {
  .prices-table__content {
    background-color: white;
  }
}
.prices-table__content .swiper-wrapper {
  height: 220px;
}
@media (min-width: 768px) {
  .prices-table__content .swiper-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
}
.prices-table__content .prices-table__row {
  width: 260px;
  height: 200px;
}
@media (min-width: 768px) {
  .prices-table__content .prices-table__row {
    width: 100%;
    height: auto;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #EAEAEA;
  }
}
.prices-table__header {
  padding: 16px;
  display: none;
}
@media (min-width: 768px) {
  .prices-table__header {
    display: flex;
  }
}
.prices-description {
  max-width: 420px;
  color: #1B1C21;
  margin-bottom: 16px;
}
.prices-commers {
  font-weight: 500;
  max-width: 420px;
  color: #1B1C21;
  margin-bottom: 50px;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.prices-commers__img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  background-image: url("../assets/images/icons/more.svg");
}

.table-slider__slide {
  width: 260px !important;
}
@media (min-width: 768px) {
  .table-slider__slide {
    width: 100% !important;
  }
}
.table-slider__slide:last-of-type .prices-table__row {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #D9FFF5;
  padding: 30px;
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer-block {
  color: rgba(126, 126, 130, 0.4470588235);
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}
.footer-block:nth-child(3) {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .footer-block {
    margin-bottom: 0;
  }
}
.footer-block:first-child {
  text-align: center;
}
@media (min-width: 768px) {
  .footer-block:first-child {
    text-align: left;
  }
}
.footer-block:last-child {
  text-align: center;
}
@media (min-width: 768px) {
  .footer-block:last-child {
    text-align: right;
  }
}

.form-block {
  display: fixed;
  right: 0;
  top: 0;
  max-width: 440px;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -100%;
  transition-duration: 0.3s;
  background-color: white;
  z-index: 11;
  border-left: 1px solid #D9FFF5;
  z-index: 100;
  padding-top: 24px;
}
@media (min-width: 768px) {
  .form-block {
    padding-top: 32px;
  }
}
.form-close {
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/images/icons/close.svg");
  cursor: pointer;
  margin-bottom: 30px;
  margin-left: 16px;
}
@media (min-width: 768px) {
  .form-close {
    top: 32px;
    right: 472px;
    position: absolute;
    display: none;
    margin-bottom: 0;
    margin-left: 0;
  }
}
.form-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
  padding-left: 16px;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .form-title {
    padding-left: 32px;
  }
}
.form-title::before {
  content: "";
  position: absolute;
  background-color: #41F6D7;
  width: 3px;
  height: 40px;
  left: -1.5px;
  top: 0;
  border-radius: 3px;
}
.form-form {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}
@media (min-width: 768px) {
  .form-form {
    padding: 0 32px;
  }
}
.form-form__input {
  border: 1px solid #EAEAEA;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}
.form-form__input::-moz-placeholder {
  color: #B5B6BC;
}
.form-form__input::placeholder {
  color: #B5B6BC;
}
.form-form__disclaimer {
  color: #7E7E82;
  margin-bottom: 20px;
}
.form-form__disclaimer-link {
  color: #FF3E79;
}
.form-form__submit {
  width: 136px;
  margin-left: auto;
}

.form-block--visible {
  right: 0;
  transition-duration: 0.3s;
}
.form-block--visible .form-close {
  display: block;
}

.no-scroll {
  overflow: hidden;
}

.overlay {
  display: none;
  position: fixed;
  z-index: 90;
  background-color: rgba(255, 255, 255, 0.5647058824);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.d-block {
  display: block;
}/*# sourceMappingURL=style.css.map */